.headerBar {
  margin: 1rem 2rem 4rem;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.justifyContnet_Center {
  justify-content: center;
}

.alignItems_Center {
  /* justify-content: center; */
  align-items: center;
}

/* * {
  background-color: gray;
} */

.snsIconList {
  position: absolute;
  right: 0;
  margin: 2rem;
}

.snsIconList > li {
  padding-bottom: 1rem;
}

.sideMargin {
  margin: 0 15rem;
}

.musicInfo {
  /* width: 600px;
  height: 600px; */
  padding: 10px 10px;
  display: flex;
  /* 디스플레이block이면 align items 쓸수없음 */
  flex-direction: column;
  justify-content: center;
}

.ratio > div {
  /* flex-grow: 1; */
  width: 50%;
}

.musicInfo > div > h1 {
  font-size: 32px;
  font-weight: 500;
}

.musicInfo > div > p {
  font-size: 28px;
}

.musicInfo > div > button {
  font-size: 14px;
}

.border {
  border: 1px solid #000;
  padding: 16px;
}

section {
  margin: 5rem;
}

.child:nth-child(1) {
  flex-grow: 1;
}

.child:nth-child(2) {
  flex-grow: 1;
}

.child:nth-child(3) {
  flex-grow: 9;
}

.child:nth-child(4) {
  flex-grow: 2;
}

.child:nth-child(5) {
  flex-grow: 2;
}

.font2 {
  font-size: 18px;
  padding: 0.5rem;
}

span {
  font-size: 14px;
}

.child2 {
  flex-grow: 1;
}

.child2:nth-child(2) {
  flex-grow: 1;
}

.child2:nth-child(3) {
  flex-grow: 1;
}
